body {
    background: rgb(135, 135, 135);
    background: linear-gradient(180deg, rgba(135, 135, 135, 1) 0%, rgba(23, 23, 23, 1) 20%);
    color: #000000;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
nav {
    background: #3d3d3d;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 900;
}

nav li img {
    width: 70px;
    height: auto;
    margin-top: 5px;
    position: relative;
}

nav>ul {
    margin: 0px;
    padding: 0;
}

nav>ul::after {
    content: "";
    display: block;
    clear: both;
}

nav>ul>li {
    float: left;
    position: relative;
}

nav li {
    list-style-type: none;

}

nav li:hover .submenu-cat {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.submenu-cat li {
    border-bottom: 1px whitesmoke solid;
    background-color: grey;
}

.submenu-cat li a {
    padding: 15px 30px;
    font-size: 13px;
    color: whitesmoke;
    width: 270px;
}

.submenu-cat li a:hover {
    opacity: 0.5;
}

nav>ul>li>a {
    padding: 20px 30px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    opacity: 0.5;
}

.submenu-cat {
    display: none;
}

/* DIV - BEST MOVIE */


.best_movie_block {
    color: whitesmoke;
    background: rgb(135, 135, 135);
    background: linear-gradient(90deg, rgba(135, 135, 135, 1) 0%, rgba(23, 23, 23, 1) 20%);
    border: whitesmoke solid 2px;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 120px;
}

.best_movie {
    margin: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

#bestMovieImg {
    grid-column: 1;
    grid-row: 1/4;
}

#bestMovieTitle {
    grid-column: 2;
    grid-row: 1;
}

#bestMovieDesc {
    grid-column: 2;
    grid-row: 2;
}

#bestMovieMoreButton {
    grid-column: 2;
    grid-row: 3;
    max-width: 100px;
}


/* TITLE - BEST MOVIES */

h1.categorie {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 30px;
    color: whitesmoke;
    border-top: whitesmoke 1px solid;
}

/* DIV - GENERAL BLOC & 7 BLOCS */

.movieDialog {
    background: rgb(135, 135, 135);
    background: linear-gradient(180deg, rgba(135, 135, 135, 1) 0%, rgba(23, 23, 23, 1) 50%);
    color: whitesmoke;
    text-align: center;
}

.movieDialog span {
    font-weight: bold;
    text-decoration: underline;
}

.fake-carousel {
    position: relative;
}

.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    opacity: 0.8;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: calc(100% / 4);
    flex-shrink: 0;
    text-align: center;
    background-color: whitesmoke;
}

.hover_img {
    box-shadow: 10px 5px 5px grey;
}

.hover_img:hover {
    opacity: 0.8;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
}

.carousel-next :hover,
.carousel-prev :hover {
    opacity: 0.8;
}

.carousel-prev {
    left: 50px;
}

.carousel-next {
    right: 50px;
}

footer {
    color: whitesmoke;
    margin-top: 200px;
    text-align: center;
}