body {
    background-color: whitesmoke;
    color: #000000;
}
/* HEADER */
header.banner {
    border: 2px solid;
    background-color: #124e73;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header.banner h1 {
    color: whitesmoke;
}

div.button_group {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

/* DIV - BEST MOVIE */


.best_movie_block {
    border: #124e73 solid;
    width: 50%;
    margin: 100px;
    margin-top: 80px;
}

.best_movie {
    margin: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.one {
    grid-column: 1;
    grid-row: 1/4;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 2;
    grid-row: 2;
}

.four {
    grid-column: 2;
    grid-row: 3;
}

 #movie_img {
    border: #000000 solid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
 }

 #movie_title {
    border: #000000 solid;
    grid-row: 1;
    grid-column: 1;
 }

 #play_button {
    border: #000000 solid;
    grid-row: 2;
    grid-column: 1;
 }

/* TITLE - BEST MOVIES */

h1#categorie {
    text-align: center;
    margin-top: 80px;
}

/* DIV - GENERAL BLOC & 7 BLOCS */
.main {
    display: flex;
    flex-direction: column;
}

.general_bloc {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bloc {
    border: #000000 2px solid;
    width: 200px;
    height: 112px;
    margin: 10px;
    
}