body {
    background-color: whitesmoke;
    color: #000000;
}
/* HEADER */
.banner {
    border: 2px solid;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.banner h1 {
    color: whitesmoke;
    grid-column: 4;
    text-align: center;
}

.acc-button {
    grid-column: 1;
}

.cat-button {
    grid-column: 7;
}

/* DIV - BEST MOVIE */


.best_movie_block {
    color: whitesmoke;
    background: rgb(57,57,64);
    background: linear-gradient(90deg, rgba(57,57,64,1) 0%, rgba(86,86,181,1) 35%, rgba(117,184,198,1) 100%); 
    border: blue solid;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 80px;
}

.best_movie {
    margin: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

#bestMovieImg {
    grid-column: 1;
    grid-row: 1/4;
}

#bestMovieTitle {
    grid-column: 2;
    grid-row: 1;
}

#bestMovieDesc {
    grid-column: 2;
    grid-row: 2;
}

#bestMovieMoreButton {
    grid-column: 2;
    grid-row: 3;
    max-width: 100px;
}


/* TITLE - BEST MOVIES */

h1.categorie {
    text-align: center;
    margin-top: 80px;
}

/* DIV - GENERAL BLOC & 7 BLOCS */
.main {
    display: flex;
    flex-direction: column;
}

.generalBloc {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bloc {
    border: #000000 2px solid;
    width: 200px;
    height: 112px;
    margin: 10px;
    
}